<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <main id="main">
      <div class="title-container">
        <h4 id="title"></h4>
        <h4>&nbsp;:&nbsp;</h4>
        <h4 id="subtitle"></h4>
      </div>
      <h1 id="series"></h2>
        <h5>You will be redirected automatically to the webinar in</h5>
      <div class="countdown-container">
        <div><span id="countdown-days">0d</span><span>:</span></div>
        <div><span id="countdown-hours">0h</span><span>:</span></div>
        <div><span id="countdown-minutes">0m</span><span>:</span></div>
        <div><span id="countdown-seconds">0s</span></div>
      </div>
    </main>
    <div>
        <iframe class="iframe" src="https://www.filemagz.com/" title="W3Schools Free Online Web Tutorials"></iframe>
    </div>
  </body>
</html>
