<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <main id="main">
      <img class="logo-bncc" src="https://bncc.net/assets/img/BNCC_FW.png" alt="Bina Nusantara Computer Club">
      <div class="social">
        <div class="social-container">
         <img src="./assets/www_W.png" alt="website BNCC">
         <span>bncc.net</span>
        </div>
        <div class="social-container">
          <img src="./assets/052-linkedin_w.png" alt="linkedin BNCC">
         <span>bncc.net</span>
        </div>
        <div class="social-container">
          <img src="./assets/044-instagram_w.png" alt="instagram BNCC">
         <span>bncc.net</span>
        </div>
      </div>
      <div class="title-container">
        <h4 id="title"></h4>
        <h4>&nbsp;:&nbsp;</h4>
        <h4 id="subtitle"></h4>
      </div>
      <h1 id="series"></h2>
      <h1 id="sub-series"></h1>
      <h5 class="redirect">You will redirect automatically in:</h5>
      <div class="countdown">
        <div class="countdown-container">
          <div><span id="countdown-days">0d</span></div>
          <span class="countdown-separator">:</span>
          <div><span id="countdown-hours">0h</span></div>
          <span class="countdown-separator">:</span>
          <div><span id="countdown-minutes">0m</span></div>
          <span class="countdown-separator">:</span>
          <div><span id="countdown-seconds">0s</span></div>
        </div>
        <div class="countdown-text">
          <div>Days</div>
          <div>Hours</div>
          <div>Minutes</div>
          <div>Seconds</div>
        </div>
      </div>
      <div class="scroll">
        <img class="animate__animated animate__slow animate__slideInDown animate__repeat-3 animate__delay-2s" src="./assets/scroll.png" alt="Scroll Mouse">
      </div>
    </main>
    <div>
        <iframe class="iframe" src="https://www.filemagz.com/" scrolling="no" title="filemagz">Please upgrade to a browser that supports iframes.</iframe>
    </div>
  </body>
</html>
