<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="BNCC Webinar Series is a series of webinar hold by Bina Nusantara Computer Club."
      name="Description"
    />
    <meta name="robots" content="noindex" />
    <meta name="theme-color" content="#0054A5" />
    <link
      rel="icon"
      type="image/png"
      href="https://bncc.net/assets/img/favicon.ico"
    />
    <title>BNCC Webinar Series</title>
  </head>
  <body>
    <main id="main" class="asyncImg">
      <div class="logo">
        <img
          class="logo-bncc animate__animated animate__fadeIn animate__delay-1s"
          src="https://bncc.net/assets/img/BNCC_FW.png"
          alt="Bina Nusantara Computer Club"
        />
        <img class="logo-client animate__animated animate__fadeIn animate__delay-1s" src="https://image.flaticon.com/icons/png/512/174/174857.png" alt="Linked In">
        
        </img>
      </div>

      <div class="social animate__animated animate__fadeIn animate__delay-1s">
        <a
          href="https://www.bncc.net/"
          target="_blank"
          class="social-container"
        >
          <img src="./assets/www_W.png" alt="website BNCC" />
          <span>bncc.net</span>
        </a>
        <a
          href="https://www.linkedin.com/company/bina-nusantara-computer-club/"
          target="_blank"
          class="social-container"
        >
          <img src="./assets/052-linkedin_w.png" alt="linkedin BNCC" />
          <span>Bina Nusantara Computer Club</span>
        </a>
        <a
          href="https://www.instagram.com/bnccbinus/"
          target="_blank"
          class="social-container"
        >
          <img src="./assets/044-instagram_w.png" alt="instagram BNCC" />
          <span>bnccbinus</span>
        </a>
      </div>
      <div
        class="title-container animate__animated animate__fadeIn animate__delay-1s"
      >
        <h4 id="title"></h4>
        <h4 id="subtitle"></h4>
      </div>
      <h1
        id="series"
        class="animate__animated animate__fadeIn animate__delay-1s"
      ></h1>
      <h2
        id="sub-series"
        class="animate__animated animate__fadeIn animate__delay-1s"
      ></h1>
      <h5 class="redirect animate__animated animate__fadeIn animate__delay-1s">
        You will redirect automatically in:
      </h5>
      <div
        class="countdown animate__animated animate__fadeIn animate__delay-1s"
      >
        <div class="countdown-container">
          <div>
            <span id="countdown-days" class="number">0</span>
            <span class="text">Days</span>
          </div>
          <span class="countdown-separator">:</span>
          <div>
            <span id="countdown-hours" class="number">0</span>
            <span class="text">Hours</span>
          </div>
          <span class="countdown-separator">:</span>
          <div>
            <span id="countdown-minutes" class="number">0</span>
            <span class="text">Minutes</span>
          </div>
          <span class="countdown-separator">:</span>
          <div>
            <span id="countdown-seconds" class="number">0</span>
            <span class="text">Seconds</span>
          </div>
        </div>
      </div>
      <div class="scroll">
        <img
          class="animate__animated animate__slow animate__fadeInDown animate__repeat-3 animate__delay-1s"
          src="./assets/scroll.png"
          alt="Scroll Mouse"
        />
      </div>
    </main>
    <div>
      <iframe
        id="iframe"
        class="iframe"
        src="https://www.filemagz.com/"
        title="filemagz"
        >Please upgrade to a browser that supports iframes.</iframe
      >
    </div>
  </body>
</html>
