<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <h1 id="title"></h1>
    <h3 id="subtitle"></h3>
    <h2 id="series"></h2>
  </body>
</html>
