// pakenya ultra, light, medium (di angka) sama bold (di scroll down) ya
@font-face {
  font-family: "Ultra";
  src: url("./fonts/Gotham-Ultra.otf");
}
@font-face {
  font-family: "Bold";
  src: url("./fonts/Gotham-Book.otf");
}
@font-face {
  font-family: "Medium";
  src: url("./fonts/Gotham-Medium.otf");
}

@font-face {
  font-family: "Light";
  src: url("./fonts/Gotham-Light.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bold";
  color: white;
}

body,
html {
  width: 100%;
  height: 100%;
  background: #095aa8;
}

.asyncImg {
  background: url("./assets/async_bg.png");
  background-size: cover;
}

.notAsyncImg {
  background: url("./assets/bg.png");
  background-size: cover;
}

main {
  position: relative;
  padding: 3rem 5rem;
  width: 100%;
  height: 100vh;
  background: #095aa8;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  & .logo {
    height: 2rem;
    position: absolute;
    top: 3rem;
    left: 5rem;
    &-bncc {
      height: 100%;
    }
    &-client {
      margin-left: 1rem;
      height: 100%;
      filter: brightness(0) invert(1);
    }
  }
  & .social {
    height: 2rem;
    display: flex;
    align-items: center;
    position: absolute;
    top: 3rem;
    right: 5rem;
    &-container {
      display: flex;
      align-items: center;
      padding: 0 1rem;
      text-decoration: none;
      & img {
        width: 1rem;
        margin-right: 0.5rem;
      }
    }
    @include mobile {
      &-container {
        padding: 0 0.2rem;
        & span {
          display: none;
        }
      }
    }
    @include tablet {
      &-container {
        padding: 0 0.2rem;
        & span {
          display: none;
        }
      }
    }
  }
  & .scroll {
    position: absolute;
    right: 50%;
    bottom: 3rem;
    transform: translate(50%, 0);
    & img {
      width: 1rem;
    }
  }
  & .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    & #title {
      text-transform: uppercase;
      font-family: "Ultra";
      letter-spacing: 1px;
    }
    & #subtitle {
      font-family: "Light";
    }
  }
  @include mobile {
    & .title-container {
      align-items: flex-start;
      flex-direction: column;
    }
  }
  & #series {
    font-family: "Ultra";
    font-size: xx-large;
    letter-spacing: 1px;
  }
  & #sub-series {
    font-family: "Light";
  }
  & .redirect {
    font-family: "Light";
  }
  & .countdown {
    &-container {
      display: flex;
      & div {
        display: flex;
        justify-content: center;

        flex-direction: column;
      }
      & .countdown-separator {
        margin: 0 1rem;
      }
      & .number,
      .countdown-separator {
        font-size: xx-large;
        font-family: "Medium";
        text-align: center;
      }
      & .text {
        font-size: small;
        font-family: "Light";
        text-align: center;
      }
    }
    &-text {
      display: flex;
      justify-content: space-between;
      & div {
        width: 4rem;
        text-align: center;
      }
    }
  }
}

@include mobile {
  $vertical-padding: 2rem;
  $side-padding: 2rem;
  main {
    padding: $vertical-padding $side-padding;
    & .logo {
      left: $side-padding;
      top: $vertical-padding;
    }
    & .social {
      right: $side-padding;
      top: $vertical-padding;
    }
  }
}

iframe {
  width: 100%;
  height: 100vh;
}
